@import "tailwindcss";

@theme {
  --font-body: Inter, sans-serif;
  --color-background-primary: oklch(0.1254 0.0045 38.36);
  --color-background-secondary: oklch(0.1456 0.0048 296.56);
  --color-background-surface: oklch(0.1864 0.0049 258.37);
  --color-border-primary: oklch(0.3796 0.0053 269.56);
  --color-border-secondary: oklch(0.8706 0.2009 104.17);
  --color-description: oklch(0.7132 0.0043 259.94);
  --color-sidebar-icon: oklch(0.5908 0.0126 144.77);
}